{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta property="og:type" content="siteweb"/>
    <meta property="og:title" content="Space Blog | Site communautaire."/>
    <meta property="og:description"
          content="Space Blog est un blog autour de l'espace'. Retrouvez des articles en fonction de vos envies."/>
    <meta property="og:image"
          content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}{{ asset('images/website/logo.svg') }}"/>
{% endblock %}

{% block body %}
    <section style="background-image: url('{{ asset('images/hero.jpeg') }}')" class="w-full hero rounded background-cover background-center no-repeat relative flex items-center">
        <h2 class="hero-text absolute w-half text-right text-white">DECOUVREZ <span class="strong">L'ESPACE</span><br> COMME JAMAIS<br> AUPARAVANT</h2>
    </section>
{% endblock %}
